[2014-09-23 20:23] hu-yue opened #1 "Error launching run_forwardDyn, 'Sf' function not recognized in MATLAB 2013b"
Hi,
I tried to run the simulator from the matlab-src folder on my desktop pc running MATLAB 2013b, by running the run_forwardDyn script, but I get an error on the "Sf" function that computes the skew symmetric matrix:

[code]

This error doesn't occur in my laptop running MATLAB 2013a. Is this a default function in Matlab or is it a custom function?
I thought it might be a problem of path not well

[2014-09-23 21:21] iron76 opened #2 "wholeBodyModel initialization opens some YARP ports"
Apparently the wholeBodyModel has still some YARP dependencies since when launching wholeBodyModel('model-initialise','icubGazeboSim'); I obtain the following messages on the shell where matlab was launched (yarserver running)

yarp: Port /wbiTestmodel/torso/rpc:o active at tcp://192.168.7.1:10002
yarp: Port /wbiTestmodel/torso/command:o active at tcp://192.168.7.1:10003
yarp: Port /wbiTestmodel/t

[2014-09-23 21:23] iron76 opened #3 "timeTest.m has wrong vector dimensions"
Apparently the following lines:
    %Setting State to random values
    q = rand(32,1);dq = rand(32,1);dxb = rand(6,1);
needs to be changed into:
    %Setting State to random values
    q = rand(25,1);dq = rand(25,1);dxb = rand(6,1);
to complete the test successfully.

[2014-09-23 21:52] iron76 opened #4 "addpath should be avoided in the code"
The functions forwardDynTest.m and run_forwardDyn.m seem use addpath. Any addpath call should be moved in a configuration script (something like init_wbim.m).

[2014-09-24 08:59] #3 closed, assigned to naveenoid

[2014-09-24 09:04] #1 closed, assigned to nobody

[2014-10-24 09:55] talhaaliarslan opened #6 "help functionality to use on command line"
It would be useful if help functionality is added to the mex-wholebody functions

[2014-10-24 10:08] talhaaliarslan opened #7 "rotation from reference frame needed"
Currently the reference frame is that of a chosen link which causes inconsistency between reference frames for different scenarios.

[2014-10-27 10:37] jeljaik opened #8 "Is there a method to set the world reference frame?"
If in my code I decide at some point to change the world reference frame from the default left leg to the right leg, is it currently possible?

[2014-10-27 12:03] jeljaik opened #9 "wholeBodyModel does not initialize when switching initialization from icub to icubGazeboSim and viceversa without restarting MATLAB."
To be more clear, suppose you initialize wholeBodyModel as:
`wholeBodyModel('model-initialise', 'icub')` but you're not connected to the robot, then you wanna switch initialization (without restarting Matlab) to `wholeBodyModel('model-initialize', 'icubGazeboSim')` what you get is the default error message for unexisting component.

[2014-10-27 12:04] jeljaik opened #10 "Default robot for wholeBodyModel should be icubGazeboSim."

[2014-10-28 10:41] #8 closed, assigned to nobody

[2014-11-09 16:56] #10 closed, assigned to nobody

[2014-12-08 17:44] naveenoid opened #11 "Comment and cleanup of visualisation"
The visualiser, especially the GUI components of run_forwardDyn and the graphics drawing components of visualize_forwardDyn need cleanup and commenting. Its currently filled with too much kludge.

Also possible bug with the new WBI ID but I am currently investigating this. Without cleanup its basically impossible for me to debug.

[2014-12-23 18:35] #6 closed, assigned to naveenoid

[2014-12-29 19:48] #7 closed, assigned to naveenoid

[2014-12-29 19:51] naveenoid opened #12 "Controller parameterisation"
The matlab controllers need to be parameterised with structs and cell arrays with real-time components to simplify testing.

[2015-01-07 00:48] barrelback commented on #11
visualizer code is cleaned and commented in https://github.com/robotology-playground/mex-wholebodymodel/commit/dda85770c5baf373dd989b3ccbeff0520ddb8b77 .
I checked the forward dynamics and the controller (both the old and the new one) and there seems to be a problem. However it seems ok for zero torques. I'm not sure if it is related to the recent changes in this repo.

[2015-01-07 00:48] #11 closed

[2015-01-20 21:18] traversaro commented on #2
Fixed at higher level in https://github.com/robotology-playground/yarp-wholebodyinterface/commit/b78c3fe59cfdd4098a0da786f8ad43d8adb6b36c .

[2015-01-20 21:18] #2 closed

[2015-01-28 11:07] iron76 opened #14 "Assumptions on floating base position w.r.t. world reference frame"
When computing the floating base mass matrix, the mex-wholebodymodel currently takes the joint-angles as input (https://github.com/robotology-playground/mex-wholebodymodel/blame/master/matlab-src/timeTest.m#L26). For a floating base system, the floating base mass matrix should be a function of the joint-angles and the floating base configuration. In the code the latter (i.e. the floating base conf

[2015-01-30 08:30] naveenoid commented on #14
Addressed in 2572fcb7937dd4bc6efc2ea0108f9f3def529ac3

[2015-01-30 08:30] #14 closed

[2015-02-13 18:04] iron76 opened #15 "Undefined function 'wbm_initialise' for input arguments of type 'char'."
Ehen launching integrateForwardDynamics, an error is produced.

``` Undefined function 'wbm_initialise' for input arguments of type 'char'. ```

[2015-02-13 18:40] iron76 opened #16 "[MacOS] timeTest.m seem are slower compiling with make VS Xcode"
When launching timeTest.m, results seems to be slower that what they were in the past. At present results on macOs everything compiled using `make` (default compile options) are:

[code]

When compiling with Xcode, again with default options:

[code]

[2015-02-16 09:31] naveenoid commented on #15
Fixed in : f9f29cdaf25d2a77d40f6fb4e9f58847547ab517

[2015-02-16 09:31] #15 closed

[2015-02-16 09:32] naveenoid commented on #12
Pending new controller operating with updated forward dynamics.

[2015-02-16 09:32] #12 closed

[2015-02-16 10:30] iron76 opened #17 "Installation specific code"
In many functions there is the following installation specific line:

``` addpath('./../build'); ```

This line should be removed because it really depends on how the installation was performed. We should define a proper installation as done by @jeljaik in the robotology-playground/WBI-toolbox

[2015-03-31 14:00] naveenoid opened #18 "world-to-base rototranslation"
implement a "fixed-link" free API for setting WorldToBase RotoTranslation mirroring WBI.

[2015-04-07 08:38] DanielePucci opened #19 "[mex-wholebodymodel] Checks on the kinetic energy associated with the floating base system"
The floating-base, mechanical system

M(q) dot(v) + C(q,v) v + g(q) = S tau

must comply with:

i) The mass matrix M is symmetric, positive definite;

ii) dot(M) - 2C must be skew-symmetric.

The point i) has been debugged sufficiently in my opinion. The main problem for debugging ii) is that you would in general require the time derivative of the mass matrix, which is not trivial in general.

Thi

[2015-04-07 10:33] naveenoid commented on #18
54c22da3b6f53a148ce33c1b9c8148526044690c

[2015-04-07 10:33] #18 closed

[2015-04-07 10:35] naveenoid commented on #19
Test included in 54c22da3b6f53a148ce33c1b9c8148526044690c still no confirmed constant kinetic energy. Testing integration result now.

[2015-04-09 09:56] naveenoid commented on #19
CONFIRMED...It is consistent. Final bug was a unnecesary lag of one timestep in angular velocity re-orientation (to body frame).
Fixed in f2e106044839298e7ba28aeea6f6df8548079685
Verify using forwardDynamicsConsistencyTest.m

[2015-04-09 09:56] #19 closed

[2015-04-09 10:00] DanielePucci commented on #19
Very well done. Thanks!

[2015-04-09 10:07] traversaro commented on #19
![2078227_champagne-celebration-celebrate-700x450](https://cloud.githubusercontent.com/assets/1857049/7064676/fdea2144-deb0-11e4-9dd6-c0e6c8e2bbcd.jpg)

[2015-04-09 10:27] naveenoid commented on #19
Along the way, we also now have adjustable world-frame location, adjustable gravity, and of course, verified equations of forward dynamics. I will now proceed to check each of the models. Good luck with the demo, peeps!

[2015-05-12 10:04] francesco-romano opened #20 "Proper install matlab-src functions"
Matlab functions should be copied into the install folder.

(Let's say that in general everything that should be used should stay in the install folder and not in the build)

[2015-05-13 08:45] francesco-romano opened #21 "Matrix ordering"
Matlab serialises matrices in Column Major ordering while wbi uses the Row major ordering.

Functions must take this issue in consideration (currently I think only the Jacobian computation is affected).

[2015-05-25 09:23] DanielePucci commented on #21
Hi guys, did we fix this?

[2015-05-26 13:05] DanielePucci commented on #21
I verify after some debugging: we did not.

[2015-05-26 18:24] naveenoid commented on #21
Sorry missed this issue..fixing it by tonight.

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Tue, May 26, 2015 at 3:05 PM, Daniele <notifications@github.com> wrote:

[2015-05-27 08:29] naveenoid commented on #21
Would a temporary workaround in the wrapper wbm_jacobian  using reshape()' be sufficient for now? I can push a C++ solution properly.

[2015-05-28 14:18] naveenoid commented on #21
8d884f32b84bac3d01b245397bdbd9cef55e874b

[2015-05-28 14:18] #21 closed

[2015-07-06 11:58] DanielePucci opened #22 "Proper error message if input vectors are given as rows instead of columns"
When using this interface, all vectors are assumed to be column vectors. So, if the user mistakenly passes a row vector, MATLAB complains with

[code]

Probably, it would be better to add further information, so that to help the user recognize the error.

[2015-07-20 17:06] drdanz opened #23 "Move repository to robotology"
As discussed with @traversaro, this repository should be moved to [robotology](https://github.com/robotology)

cc-issue: robotology/robotology.github.io#2

[2015-08-05 14:19] traversaro opened #24 "The FindMatlab.cmake does not work with Matlab 2015a"
I suggest that for supporting Matlab 2015a we move to the official FindMatlab.cmake provided in the new CMake 3.3 . Given that on Linux users will have to stick with the CMake version provided by their distributions, we can import it locally as done for WBI-Toolbox in https://github.com/robotology-playground/WBI-Toolbox/issues/84 and for iDynTree in https://github.com/robotology/idyntree/commit/69

[2015-08-10 10:20] naveenoid opened #25 "Inconsistency in switching from setting world-reference link to setting world-reference-frame"
When switching from a world reference link (like "l_sole") for example to world reference frame (computed from get state), the quaternion returned after that point on is not a valid quaternion.

[2015-08-10 18:56] naveenoid commented on #25
fixed in 1c653164818988d7da857689be1f737777aedf44

[2015-08-10 18:56] #25 closed

[2015-09-17 08:36] gabrielenava opened #26 "Mex-wholebodymodel functions not explicit with respect of the floating base"
I need to compute numerically the partial derivatives both the mass matrix and the jacobian with respect of a given steady state position.
Seems  that using wbm functions is possible to compute a variation in mass matrix and jacobian with respect of each joints variable but not with respect of the position and rotation of the floating base.

[2015-09-17 09:08] naveenoid commented on #26
it looks like ideally you would prefer an implementation of mass-matrix
which takes as an input the complete state (floating base + joint
position).  Do you think if I implement something like
'massMatrixFullState' it would be useful for you?

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di

[2015-09-17 09:20] DanielePucci commented on #26
@gabrielenava

[2015-09-17 09:33] gabrielenava commented on #26
yes, i think it will be useful, and i need something similar for the wbm_jacobian.

I have one more question: if i set the robot in a given initial position, can i compute the mass

matrix with respect of the given position and then just change by a delta one of the input in wbm_massmatrix to correctly obtain the new values?

i mean, without changing the entire initial position, make the wbm_updat

[2015-09-17 09:53] naveenoid opened #27 "full state to be passed to functions"
FullState versions are needed of  all major function calls.. i.e. no more just passing qj but q to all the relelvant functions

[2015-09-18 10:07] naveenoid commented on #26
I will close this issue as I will address it directly in https://github.com/robotology-playground/mex-wholebodymodel/issues/27

[2015-09-18 10:07] #26 closed

[2015-09-18 13:16] naveenoid commented on #27
3228b5f89f105b2cb98201cdf053a3398d12092c

[2015-09-18 13:16] #27 closed

[2015-09-18 13:21] naveenoid commented on #23
Could you advise me on how to proceed?

[2015-09-18 13:23] naveenoid commented on #22
It is recommended that the matlab wrappers in whole-body-model functions be used. They will respond to a "help" command on matlab and include documentation on dimensions.

[2015-09-18 13:23] #22 closed

[2015-09-18 13:44] naveenoid commented on #16
Can this be checked by a mac user? @iron76 @francesco-romano @traversaro

[2015-09-18 19:09] drdanz commented on #23
We just have to synchronise, come talk to me whenever you are ready for the move.

[2015-09-23 16:05] francesco-romano commented on #20
ping

[2015-09-24 16:37] traversaro commented on #16
My iMac machine at IIT is available for testing, it has a working Matlab R2012b installation and you should be able to reproduce this issue (if it is still present). I can send credentials by private mail.

[2015-09-24 16:49] traversaro opened #29 "Cleanup/Documentation of simulation and controller code"
Hi guys, as you may know a new master student (supervised by Ale Saccon) a TU/e will start working with this code base (especially the simulation + controller) to try to integrate our control strategies with some based on hybrid systems [1] [2].

I will have to help him from the technical point of view, but given that I have a limited experience on this repo I would like to ask a bit of help from

[2015-09-25 08:24] DanielePucci commented on #29
Yes Silvio, it is feasible, though it seems to me that @gabrielenava does not stable code. Probably, he can provide us with additional details. @naveenoid should tell us the status of the code on the repository.

[2015-09-25 08:25] DanielePucci commented on #20
ping

[2015-09-25 08:30] traversaro commented on #29
:+1:

@gabrielenava anything that I can do to help reaching "stability" (that is a relative concept by the way :D)

I cleaned all the branches in the repo, transforming some stale branches in tags.
Just two branch remain:
 * One by @gabrielenava , that I guess contains the refactor we were speaking about.
 * The other by @Ganimed , but I don't know its content. @Ganimed what is your branch about?

[2015-09-25 08:33] naveenoid commented on #29
The back-end is now stable and has been merged. So I can work on the readme over this weekend. @barrelback 's old controller needs work on porting if you want a working balancing controller to be available to the user. Currently fully functional dynamics and a visualisation are available.
Maybe @gabrielenava can finalise and have a working example in the main matlab_src folder utilising a balancin

[2015-09-25 08:41] gabrielenava commented on #29
The balancing controller is still under developement.  We discovered some issues just few days ago, but I can check the code this weekend and push a "stable" version in feature/balancing_controller and a README for the controller in the same feature.

[2015-09-25 11:42] traversaro commented on #29
Ok, perfect.

In the meanwhile I feel more confident if we add some regression tests to the repo, so that
the fact that everything is properly working can just be checked by anyone with a `make test`. I think it make sense to port the simple structure that we have in iDynTree [1] [2].

[1] : https://github.com/robotology/idyntree/blob/master/bindings/matlab/tests/CMakeLists.txt
[2] : https://githu

[2015-09-26 10:07] traversaro commented on #29
I checked out @Ganimed class and it is actually quite clean. I was just wondering... why the `iCubWBM` name ? The software is not iCub-specific in anyway.

[2015-09-26 11:30] Ganimed commented on #29
This is an information which I didn't know! I've always thought that the WBM is only for the iCub! But names are changeable. :)
I've made something in my branch. But it is quite small. You will find everything in the folder matlab-src/+iCubWBM. This is a Matlab-package. There are the new classes with all your functions concentrated together in some few files. Everything else outside of this folder

[2015-09-26 11:33] Ganimed commented on #29
P.S. I've made also a class-diagram. There you can see the structure. It's under matlab-src/+iCubWBM/UML. Feedbacks are welcome!

[2015-09-26 14:28] traversaro opened #30 "forwardDynamicsConsistencyTest failing"
I wanted to consolidate the tests such that they could be executed in a systematic way, but I tried
to run the `forwardDynamicsConsistencyTest` and I get this output:
[code]

[2015-09-26 15:05] traversaro commented on #24
Fixed in https://github.com/robotology-playground/mex-wholebodymodel/commit/97ebeef4ff36f2123f3f41a5b7d9bde166fdf697 .

[2015-09-26 15:05] #24 closed

[2015-09-26 15:43] traversaro commented on #29
Mhh... @Ganimed can you find an alternative not-iCub specific name? Thanks!

I implemented what the test infrastructure that I discussed in https://github.com/robotology-playground/mex-wholebodymodel/issues/29#issuecomment-143193083 . Some details about the tests have been added in the README :
Not all tests have been ported (see https://github.com/robotology-playground/mex-wholebodymodel/issues/3

[2015-09-26 19:10] Ganimed commented on #29
No, problem. In the next time I will rename everything such that every file/variable is without "iCub" and use general names.

[2015-09-26 20:19] DanielePucci commented on #30
I fear that
[code]
means that the position of the floating base pose is obtained through forward kinematics on the left foot, instead of integrating what comes from the floating base dynamics. In this case, the foot is stuck on the ground, and the dynamics should incorporate also the external wrench acting on the foot for passing the tests. But, I am just speculating. @naveenoid what do you think

[2015-09-27 11:32] Ganimed commented on #29
Is the WBM considered in general only for humanoid robots or for any robot which would also include for example the Kuka or a robot with 6 legs. This information is quite important for me when I'm making an adequate renaming for the classes and others. Thx.

[2015-09-27 16:33] traversaro commented on #29
It is designed with floating base robots in mind (so also robots with six legs, see https://github.com/robotology-playground/wholebodyinterface ) but it can be used even for fixed base robots.

[2015-09-28 07:43] Ganimed commented on #29
Thanks! Good to know! Then I know how to proceed in renaming. Perhaps I have to rethink some parts of the class structure.

[2015-09-28 09:14] gabrielenava commented on #29
I've done the ctest and then I pushed in my branch the last version of the balancing controller. it 's tested and seems everything is working well. I added a README about the controller part of the code which is in the mexwholebodymodel_balancing folder.

[2015-09-28 09:39] traversaro commented on #29
Thanks @gabrielenava !
Two things :
  * Unless it is necessary for some reason, avoid to save binary `.mat` files in the repository, as they
    are saved in the history of the repo and will remain there *in saecula saeculorum*.
  * Can we merge it? As far as I can see everything is self-contained in an own directory, so we don't create any problem by merging.

[2015-09-28 09:57] traversaro commented on #29
@gabrielenava  I don't really understand what you did with the tests.. you moved them in `matlab-src/tests` ? Consider also that `ctest` is only useful to assess that everything is working on a given branch!

However I noticed a lot of fixes copy-pasted by hand between master and feature/balancing_controller, so I am going to merge feature/balancing_controller in master as soon as possible. As soo

[2015-09-28 10:32] gabrielenava commented on #29
regarding ctest, I followed the instructions before and went in the build directory in codyco_superbuild, but I don't know if I did it properly.
the entire balancing controller is in the folder mexwholebodymodel_balancing so I think that if master is updated to the last version is not a problem to merge the branch. if you merge it, I'll do the test this afternoon

[2015-09-28 11:16] traversaro commented on #29
I tried to cleanup a bit the directory of matlab code, by moving some unused directory in the `deprecated` directory : https://github.com/robotology-playground/mex-wholebodymodel/commit/9144496e21d69ddddfd5fb79ee17fe118b6817e8 .
If they are not used anymore we can simply cancel them, if anyone wants to get them they can be accessed in the git history.

Furthermore, I think we should try to remove

[2015-09-28 11:50] traversaro commented on #29
By the way I got the simulator + controller to run correctly, so good job @gabrielenava !

[2015-09-28 11:51] gabrielenava commented on #29
yes, for now simulation and controller are coupled because for visualize the graphics of contact forces, torques, ecc... is necessary to use forwardDynamics.m.
I think is not compicated to separate them but is quite a long work.

However, I did the following things until now:
-update the bal. controller to integrate the latest changes
-test the controller in my branch
-push the code in my branch
-

[2015-09-28 11:57] traversaro commented on #29
Added an entry point to the simulation+controller in main readme in https://github.com/robotology-playground/mex-wholebodymodel/commit/3ac3b6f30105193126713a8bb7213676651e9a95 .

[2015-09-28 11:58] traversaro commented on #29
@gabrielenava apparently you already merged the PR at noon, but I checked and everything seems ok.

[2015-09-28 12:08] traversaro commented on #20
Once a proper installation strategy is decided, it would be possible also to remove all the `addpath` hardcoded in the scripts [1], ref #17 .

[1] : https://github.com/orgs/robotology/teams/codyco-developers

[2015-09-28 12:36] drdanz commented on #23
Done

cc-issue: robotology/robotology.github.io#2

[2015-09-28 12:36] #23 closed

[2015-09-28 13:05] Ganimed commented on #29
I have a question about the function wbm_getState, which is important for me for understanding. The function wbm_getState returns following values:

    qj - joint angles (NumDoF x 1)xTb - base rototranslation (7 x 1) with 3 for position of frame and 4 for orientation quaternion
    dqj - joint velocities (NumDoF x 1)
    vxb - floating base velocity (6 x 1)

This is everything clear for me until

[2015-09-28 16:21] Ganimed commented on #29
I've renamed everything now.

[2015-09-29 11:19] gabrielenava commented on #29
you're right about what vxb is, but be careful because wbm_getState simpy takes the values you setted before in wbm_updateState.
I'm not using wbm_modelinitialize and wbm_setworldlink in optimized mode, however I think that:
-wbm_initialize just sets the values related to the robot you're working on, such as number of links, joints DOF, ecc...
-wbm_setworldlink decides the link where the world ref

[2015-09-29 11:20] gabrielenava commented on #29
sorry, i pushed the wrong key :-)

[2015-09-29 14:05] Ganimed commented on #29
Thanks for the info! :)

[2015-09-29 16:40] traversaro opened #32 "wbm_modelInitialise('icubGazeboSim') ignores the passed argument"
In the repo I found a lot of istances of `wbm_modelInitialise('icubGazeboSim')` , and I assume that it was a way to instantiate the mex-wholebodymodel with a robot with a given `YARP_ROBOT_NAME`. Unfortunatly I notice while installing the software for the TU/e master student that the script was not working at all if the `YARP_ROBOT_NAME` environmental variable was not set. I checked the code and a

[2015-09-29 18:09] traversaro opened #33 "Simplified initialization mode"
It would be nice to be able to initialize the `mex-wholebodymodel` by:
* passing directly a path to an urdf file to load the interface (in this case, all the joints of the model would be automatically added).
* passing directly a path to an urdf file and a list of joints to use
This would drastically simplify its use for new user/new robots.

Currently for adding a new robot to the mex-wholebodymo

[2015-09-30 01:00] naveenoid commented on #32
I will go for the solution you proposed in the end since it maintains the
standalone nature of mexwholebodymodel in the best way possible...

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Tue, Sep 29, 2015 at 6:41 PM, Silvio Traversaro <notifications@github.co

[2015-09-30 06:41] francesco-romano commented on #33
plus the fact that the whole configuration file is not needed for the model...

[2015-09-30 07:12] DanielePucci commented on #33
:+1

[2015-10-05 01:22] iron76 commented on #33
:+1:

[2015-10-09 08:14] Ganimed opened #34 "Unused initial g in both test scripts"
Hi all,

in both testing scripts "forwardDynamicsConsistencyTest.m" and "integrateForwardDynamics.m" there is an initial gravity vector created for the control torques with,

   gInit = wbm_generalisedBiasForces(R_b,p_b,params.qjInit,zeros(25,1),zeros(6,1));

but will never used. For the time-dependent parameter tau it will be used the zeros-function instead of gInit. Is zeros in this case just an

[2015-10-09 08:20] traversaro commented on #34
I guess @naveenoid is the author of the script, so he is the right person to reply!

[2015-10-09 08:22] Ganimed commented on #34
Ok, I will do that. Thanks.

[2015-10-09 08:23] traversaro commented on #34
Feel free to update this issue, so everybody can get this info!

[2015-10-09 08:45] Ganimed commented on #34
I will do that, as when I've got the information.

By the way, in the folder matlab-src there is the folder "worker_functions" where inside are some nice functions for general purposes. In my opinion it is more meaningful if the folder "worker_functions" is renamed into "toolbox". Then everybody understand what is inside.

[2015-10-09 08:47] traversaro commented on #34
"toolbox" is a bit overloaded in matlab contexts. I would personally prefer something like "utils".

[2015-10-09 08:54] Ganimed commented on #34
I understand. "utils" is also a good option. We will see ...

[2015-10-09 09:07] Ganimed commented on #34
"utilities" or just "tools" is also an option ...

[2015-10-17 11:03] traversaro commented on #29
Thanks to @gabrielenava docs on how to run the system+controller simulation is available at https://github.com/robotology/mex-wholebodymodel#controller-simulation .
They can always be improved/corrected, but I guess that was the main point of this issue, so we can close it.
Further cleanup of the repo can be discussed in specific issues, like https://github.com/robotology/mex-wholebodymodel/issues

[2015-10-17 11:03] #29 closed

[2015-10-17 11:04] traversaro commented on #20
@naveenoid any updates?

[2015-10-19 00:03] iron76 commented on #29
:+1: Thanks at @gabrielenava for the documentation!

[2015-10-21 10:05] traversaro opened #35 "Joint ordering used in the simulator + controller?"
I was wondering in the simulator in the `matlab-src/mex-wholebodymodel_balancing`, which joint ordering is used?

[2015-10-21 10:14] traversaro commented on #35
The ordering of the joints is the one documented in https://github.com/robotology-playground/WBI-Toolbox/wiki/Details-on-iCub-joints-ordering-in-WBI-Toolbox .

For more info on iCub joints, check http://eris.liralab.it/wiki/ICub_joints and http://wiki.icub.org/wiki/ICub_Model_naming_conventions .

## Long Explanation
The `mex-wholebodymodel` interface is using by default the list `ROBOT_MEX_WBI_MO

[2015-10-21 10:14] #35 closed

[2015-10-21 10:16] traversaro commented on #35
cc @gabrielenava correct me if I am wrong?

[2015-10-21 11:05] traversaro opened #36 "Simulation visualizer is not properly visualizing the system when moving the torso"
It appears like that (just for the visualizer) the base body is assumed to be fixed, and so the foot appears as moving even if their position is constant.

It easy to reproduce the problem by setting a sine trajectory in the input to the desired value of the torso yaw.

[2015-10-21 11:05] traversaro commented on #36
cc @naveenoid @gabrielenava

[2015-10-21 11:57] naveenoid commented on #36
Could you push some test code in some branch to test this? The visualiser
assumes feet are fixed to ground. Not torso. Or do you mean the defunct
visualiser of C++ based on iCubGui?

---
Naveen Kuppuswamy, PhD
Post-doctoral Fellow,
Cognitive Humanoids Lab,
Department of Robotics, Brain and Cognitive Sciences (RBCS),
Istituto Italiano di Tecnologia, Genova, Italy

On Wed, Oct 21, 2015 at 1:05 PM, S

[2015-10-21 12:18] traversaro commented on #36
Test code in https://github.com/robotology/mex-wholebodymodel/compare/tue .
Just run `mex-wholebodymodel/integrateForwardDynamics.m` to see the issue.
Originally reported by @Eric092  .

[2015-10-21 12:21] traversaro opened #37 "Warnings when running the balancing simulator on Ubuntu 14.04 Matlab 2015b"
[code]

[2015-10-21 12:31] traversaro opened #38 "storedTestTrajectory.mat (like all files that are generated at each run of the script) should not be commited"
And to avoid problems, it should be added to the `.gitignore` file.

[2015-10-21 12:39] traversaro opened #39 "If `params.leftArmInit` is modified, the initial configuration of the right arm is modified instead"
If `params.leftArmInit` is set (for example) to :
[code]
Then in the visualizer the **right** arm is modified instead.

In particular, the initial configuration of the right arm appears to me modified in all the visualization, except for the one on the top right (that instead seems to be correct).

![icubmexsim](https://cloud.githubusercontent.com/assets/1857049/10636658/6e17c4a0-7801-11e5-8dc2-45

[2015-10-21 12:39] traversaro commented on #39
I reproduce this issue in the `master` branch.

[2015-10-21 12:42] traversaro commented on #36
Apparently the problem is not occurring on the `master` branch, but just on the `tue` branch.

Given that in the `tue` branch the only difference is that the desired position given to the impedance are time variant instead of being constant, probably the bug is related to some wrong use of the desired joint position vector that the visualizer is doing.

[2015-10-21 12:45] gabrielenava commented on #36
The constrains for the feet are in term of acceleration, hence the feet position is obtained by integration and there are integration errors. In integrateForwardDynamics, try to reduce both RelTol and AbsTol  in the options  for ode15s tolerances to a very small value, for exemple 1e-9.
then, plot also the left foot orientation and not just the position and verify that their movements are very lit

[2015-10-21 12:47] traversaro commented on #36
I am quite sure those are not integration errors. Feel free to check for yourself using the `tue` branch.  For some reason, the floating base is fixed in the visualization while the foot are moving.

[2015-10-21 12:59] gabrielenava commented on #36
is the problem only in the visualizer-demo or in the visualizer-graphics too? I tried to reproduce the described situation in the original code because I'm now working on something similar but in the graphics everything seems ok, both the feet position and orientation and the CoM are practically fixed while the torso jaw is moving with a sine trajectory. If the problem is only in visualizer-demo,

[2015-10-21 13:01] gabrielenava commented on #36
however I'll try also the tue branch right now

[2015-10-21 13:17] gabrielenava commented on #39
There's the same problem for the robot balancing on one foot, that should be the left foot but in the visualizer is the right one. I reported this problem in the README file and I wrote that an issue will be opened soon, but then I forgot to open it until now, sorry.

[2015-10-21 13:36] traversaro commented on #39
No problem @gabrielenava ! I will investigate the issue then.

[2015-10-21 13:38] traversaro commented on #36
What do you mean by in `visualizer-demo` or in the `visualizer-graphics` ?

[2015-10-21 13:39] traversaro commented on #36
I am just running `integrateForwardDynamics.m` script.

[2015-10-21 13:48] traversaro commented on #36
I plan to look into the VisualizeForwardDynamics.m function, to fix problems like this and https://github.com/robotology/mex-wholebodymodel/issues/39 .

[2015-10-21 13:49] traversaro commented on #36
First step @gabrielenava ... where is located the `VisualizeForwardDynamics.m` function? :D

[2015-10-21 13:51] gabrielenava commented on #36
In integrateForwardDynamics there are 2 different functions for visualization, one is visualizer_graphics.m which uses forwardDynamics.m to plot left foot position, CoM error, joints torques, ecc.... . The other is visualizer_demo.m which uses storedTestTrajectory.mat to show the movements to the robot.
Since visualizer_graphics.m  calls forwardDynamics.m, if there's an error in the plots too the

[2015-10-21 13:55] gabrielenava commented on #36
/codyco-superbuild/main/mexWholeBodyModel/matlab-src/VisualizeForwardDynamics.m
this is the path from codyco folder

[2015-10-21 14:14] traversaro commented on #36
Found it, it was just `visualizeForwardDynamics.m` instead of `VisualizeForwardDynamics.m`.

[2015-10-21 15:05] traversaro opened #40 "Simplify repository structure"
Hi everyone, one of the source of confusion related to this repository is that it contains mex/functions/scripts fulfilling two different purposes:
 * C++ code and matlab code in `matlab-src/whole_body_model_functions` : Provide a matlab interface to the `yarpWholeBodyModel` C++ class (original purpose of the repo, `mex-wholebodymodel` properly said)
 * All the other matlab code: implement simulat

[2015-10-21 15:06] traversaro commented on #40
Feedback request: @francesco-romano @DanielePucci @gabrielenava @naveenoid @Ganimed

[2015-10-21 15:06] traversaro commented on #40
@Ganimed  I think it would make sense for your class to be in the `mex-wholebodymodel` directory.

[2015-10-21 15:13] traversaro opened #41 "Don't keep `.mat` files in the repo"
I think that it makes sense to remove all the `.mat` files from the repo.

 `.mat` files are binaries for which it is quite difficult to track the modifications, for example while checking the repo history.

I think that all the `.mat` committed files can be replaced by `.m` files produced by [Simulink.saveVars](http://it.mathworks.com/help/simulink/slref/simulink.savevars.html) function. We will

[2015-10-21 16:04] traversaro opened #42 "[Simulation] Don't Repeat Yourself : Avoid copy pasting code, use functions"
Some logic that is currently copy-pasted across a lot of functions/scripts, and need to be consolidated in functions:

## Constrained Dynamics with Torque as a input

* [x] Tick when fixed

This function is already available in the `forwardDynamics` function in https://github.com/robotology/mex-wholebodymodel/blob/master/matlab-src/forwardDynamics.m , but for some reason is not used in the balanci

[2015-10-21 16:26] traversaro opened #43 "[Interface] Remove wbm_setWorldLink ?"
A lot of users have been confused by the semantics of the `setWorldLink` function https://github.com/robotology/mex-wholebodymodel/issues/26 and now it is possible to use all the functions by directly passing the complete state https://github.com/robotology/mex-wholebodymodel/issues/27 .

If no code it is supposed to use this function, perhaps it is a better idea to just remove it from the interfa

[2015-10-21 16:49] DanielePucci commented on #36
What does
[code]
mean?

[2015-10-21 16:51] traversaro commented on #36
https://www.tue.nl/en/

[2015-10-21 17:39] DanielePucci commented on #36
ack.

[2015-10-21 20:38] traversaro commented on #43
cc @naveenoid @gabrielenava  opinions?

[2015-10-22 08:27] traversaro commented on #43
This would also have the side benefits of removing the hardcoded "l_sole" in the code ( https://github.com/robotology/mex-wholebodymodel/blob/6603ab444e828f05bcb71c0317e4421e97736ac8/src/modelstate.cpp#L41 ),

[2015-10-22 08:40] traversaro commented on #30
It seems that there are two different files `forwardDynamicsConsistencyTest.m` in the repo...
https://github.com/robotology/mex-wholebodymodel/blob/master/matlab-src/forwardDynamicsConsistencyTest.m seems the most update one, while https://github.com/robotology/mex-wholebodymodel/blob/master/matlab-src/tests/forwardDynamicsConsistencyTest.m seems to be just an outdated version.. @gabrielenava @nav

[2015-10-22 08:50] traversaro opened #45 "Avoid having different matlab files with the same name"
This is necessary because a random user could just add to the path all the directories in mex-wholebodymodel recursivly, and thus there would be in ambiguity on which function/script it is called, that could cause hideous bugs (ask to @claudia-lat).

*I repeat*: **NEVER EVER EVER** [1] *use the same name for two different matlab files, even if they are in two different folders.*

Examples of dupli

[2015-10-22 09:22] naveenoid commented on #45
capito! this came because of multiple developments on top of my original
forwardDynamics. Addressing soon.

On Thu, Oct 22, 2015 at 10:50 AM, Silvio Traversaro <
notifications@github.com> wrote:

[2015-10-22 09:28] traversaro commented on #45
Actually the one in the root is just an outdated version, the real version of `forwardDynamics_zeroExternalForce` is of https://github.com/robotology/mex-wholebodymodel/blob/master/forwardDynamics_zeroExternalForces.m .
In any case, both version should just be calls of forwardDynamics with zero input torques and null constraint list, see https://github.com/robotology/mex-wholebodymodel/issues/42 .

[2015-10-22 09:41] naveenoid commented on #41
The only reason for this was the old issue regarding jointLimits. If that is fixed. it can be removed.

[2015-10-22 09:42] naveenoid commented on #38
:+1:  adding to next commit

[2015-10-22 09:45] naveenoid commented on #34
Is this still a problem? I thought it was discussed in detail in person? The gInit was used in one of the simulations to set the torque compensating gravity. Im closing this issue for now since we have an overload of others.

[2015-10-22 09:45] #34 closed

[2015-10-22 09:46] naveenoid commented on #30
I will close this issue. It will be directly addressed in the cleanup referenced in the issue above.

[2015-10-22 10:15] naveenoid commented on #40
Agreed very strongly. I am not at all happy to mix matlab and C++ directly and talked about this in the original design a year ago.

[2015-10-22 10:50] DanielePucci commented on #40
I would separate the controllers anyway. Since we already have a WBI-Toolboxcontrollers repository, why don't we put the controllers there?

[2015-10-22 10:59] traversaro commented on #40
It make sense to separate also controllers, but I consider it to be an issue orthogonal to this one.

[2015-10-22 12:26] DanielePucci commented on #40
Ok, it seemed to me that when you wrote
[code]
you were referring to the controllers also.

[2015-10-22 12:27] traversaro commented on #40
Yes, until they are properly moved.

[2015-10-22 13:53] #32 closed

[2015-10-22 13:53] #33 closed

[2015-10-22 15:31] traversaro commented on #30
The test is still not working. I was able to get it to work for a simple two links floating base model, but it is still failing for full iCub model.

[2015-10-22 15:37] naveenoid commented on #30
testing in a bit. This is with 0 input torques?

On Thu, Oct 22, 2015 at 5:31 PM, Silvio Traversaro <notifications@github.com

[2015-10-22 15:50] traversaro commented on #30
Yes, cleanup test in https://github.com/robotology/mex-wholebodymodel/tree/fixKineticEnergyConservationTest .

To run together with the rest of the test, run `ctest -VV`.
To run standalone (for debug) run the test/kinEnergyConservationTestAllModels script.

[2015-10-22 15:51] traversaro commented on #30
I am experiencing strange matlab crashes, so I guess there is something going on the C++ part.

[2015-10-22 16:40] Ganimed commented on #34
It was still confusing me, but now I understand. So you used it just temporarily for another simulation. Thanks for the info.

[2015-10-22 16:45] traversaro opened #46 "[interface] ComponentManager is allocated and never deleted"
The instance of the `ComponentManager` is allocated in https://github.com/robotology/mex-wholebodymodel/blob/77139ce83e22b766085d83542c7a1caedde74cdf/src/componentmanager.cpp#L40 , but is never properly deleted.

[2015-10-22 20:41] DanielePucci commented on #45
I think that sometimes having the same name for different files may make sense. For instance, in
[code]
we use several matlab files called
[code]
associated with each robot, which contains the gains for the torqueBalancing. This is reminiscent of what we do with the torqueBalancing.c++. Opinions?

[2015-10-22 21:17] traversaro commented on #45
Agreed [1], mostly because those are more configuration file in matlab syntax than actual scripts.

There are also other situations where it may be convenient to have two function with the same signature/name, in that case I think they should be placed in different packages.

[1] :+1: (Perhaps **NEVER EVER EVER** can become **NEVER EVER SOMETIMES** :D ).

[2015-10-22 22:09] traversaro commented on #46
Fixed this bug (and all other problems with memory allocation and deallocation, that prevented the mex to be unloaded from matlab in a clean way) in three commits:
* https://github.com/robotology/mex-wholebodymodel/commit/f60c9ac833a0ea80b0731ac2386af7d598ce96f5
* https://github.com/robotology/mex-wholebodymodel/commit/0437e086ba93754111f219b1a86aae8113722958
* https://github.com/robotology/mex-wh

[2015-10-22 22:32] traversaro commented on #30
7 hours later I solved the crash above mentioned. (see https://github.com/robotology/mex-wholebodymodel/issues/46), so I can concentrate on the real issue.

Apparently the test is still not passing:
![kineticenergy](https://cloud.githubusercontent.com/assets/1857049/10680117/38abe5e0-791d-11e5-9a51-eecf39d406da.jpg)

The base translational acceleration in particular is quite fishy, because it shou

[2015-10-22 22:35] traversaro commented on #34
For the kinematic testing cleanup that I am doing for solving https://github.com/robotology/mex-wholebodymodel/issues/30 , I remove the unused vector `gInit`.

[2015-10-23 00:11] traversaro opened #47 "[interface] Base part of wbm_getState is broken and needs tests"
In particular, the base state was undefined because it was taken from the returned value of a function that was not returning anything (see https://github.com/robotology/mex-wholebodymodel/commit/0437e086ba93754111f219b1a86aae8113722958#commitcomment-13937981 ).
I guess the function is always returning the identity transform in practice.
Fixed in https://github.com/robotology/mex-wholebodymodel/co

[2015-10-23 00:11] traversaro commented on #47
cc @naveenoid @gabrielenava

[2015-10-23 00:13] traversaro commented on #47
To make sure that everything is properly working, I suggest that we do some consistency tests together with `wbm_setWorldFrame``wbm_updateState` and `wbm_forwardKinematics`  .

[2015-10-23 00:31] traversaro opened #48 "[balancing] The orientations of the feet are extracted as quaternion but they are used as axis-angle ."
In the balancing controller, the orientation of the feet are obtained from the interface as quaternions (with real-imaginary serialization) [1] but they are used as axis-angle [2] [3].

At the beginning I was expecting at least the serialization to be consistent (the real part of the quaternion is the cosine of the rotation angle divided by two, while the imaginary is a 3d vector obtained multiply

[2015-10-23 00:37] traversaro commented on #42
Regarding the quaternion to rotation, two formulas are used in the code:
[code]
in the [quite used `frame2pos` function](https://github.com/robotology/mex-wholebodymodel/search?utf8=%E2%9C%93&q=frame2posrot&type=Code) and
[code]
In the rest of the code. As far as I remember the one with the minus is the correct one, but I think it is good if we all agree on which fix is the one most correct. In st

[2015-10-23 00:43] traversaro commented on #47
Anyway the effect of the simulations is limited, as getState was used only to get the initial configuration of the base.

[2015-10-23 07:00] DanielePucci commented on #42
Guys,  I'm really frustrated,  since I remember that I personally worked on that, and II tried to fix this stuff with Gabriele.  I don't know why these obscure formulae keep going around. I remember that the first one should be right, instead [1, p. 101, Eq. 3.8]. Anyways, please try to write these functions once for all in appropriate separate files,  so we can debug them only once.

[1] THÈSE Co

[2015-10-23 08:31] gabrielenava commented on #47
I don't think I have really understand this problem. I mean, in the balancing controller wbm_getState is used only at the beginning and only to obtain the identity since wbm_setWorldLink sets exactly the identity transform. But if I put wbm_getState in forwardDynamics just to see what happens the quaternion returned by getState  changes, it's still a valid quaternion and the associated rotation ma

[2015-10-23 10:03] traversaro commented on #47
I'll explain what I found in the code:
[`wbm_getState`](https://github.com/robotology/mex-wholebodymodel/blob/6603ab444e828f05bcb71c0317e4421e97736ac8/matlab-src/whole_body_model_functions/wbm_getState.m#L19) calls (with [some magic](https://github.com/robotology/mex-wholebodymodel/blob/77139ce83e22b766085d83542c7a1caedde74cdf/src/componentmanager.cpp#L61) )
[ModelGetState::computeFast](https://gi

[2015-10-23 10:03] traversaro commented on #43
Another example of confusion regarding `wbm_setWorldLink` semantics : https://github.com/robotology/mex-wholebodymodel/issues/47#issuecomment-150511583 .

[2015-10-23 11:55] traversaro commented on #48
cc @gabrielenava @DanielePucci

[2015-10-23 12:02] DanielePucci commented on #48
Yes @traversaro, you are right. Things work because you are locally close to the identity. @gabrielenava, con you correct this bug ASAP?

[2015-10-23 12:05] gabrielenava commented on #48
The Rf function comes directly from simulink code and, as you said, is used only for computing the constraints for QP. I noticed that the rotation matrix was calculated in a different way but I just added the formulation normally used in  balancing code as a comment in the function. I can uncomment it  and test if everything is ok, than eliminate the wrong formula

[2015-10-23 12:06] traversaro commented on #42
I checked and apparently the formula with a `plus` is the one consistent with Rodriguez Formula.

[2015-10-23 12:18] traversaro commented on #42
I also checked and apparently `mex-wholebodymodel_balancing` code is not using the `minus` version anywhere.

[2015-10-23 12:25] traversaro commented on #48
It would be great. Please take your time to properly correct also the documentation.

[2015-10-23 12:38] gabrielenava commented on #48
I uncommented the correct formula and tested it and it works without problem, so I'm going to switch on master, do the changes and push. For documentation you mean only in  Rf.m , were is said that the formulation is axis-angle but now is actually real-imaginary, right?

[2015-10-23 12:42] traversaro commented on #48
Yes. Please feel free to open a pull request to get used to the classical github workflow : https://guides.github.com/introduction/flow/ .

[2015-10-23 13:11] DanielePucci commented on #42
Ack.

[2015-10-23 13:17] DanielePucci commented on #43
I completely agree with you: passing the whole state is the right way to go. How do we pass this state for  SE(3)" Do we pass quaternions or what? @naveenoid  opinions?

[2015-10-23 13:21] traversaro commented on #43
We are currently passing rotation matrices.

[2015-10-23 13:26] DanielePucci commented on #43
Now we are talking [1]

[1]: http://www.youtube.com/watch?v=k17KH6F63aE&t=1m24s

[2015-10-23 14:27] traversaro commented on #48
I guess we can close the issue now, right?

[2015-10-23 14:29] DanielePucci commented on #48
yes

[2015-10-23 14:29] #48 closed

[2015-10-23 14:32] traversaro commented on #30
I finally found the bug, it was due to a rotation matrix not inversed, you can find more info in the relative commit: https://github.com/robotology/mex-wholebodymodel/commit/0223cbc1d9b783ef1d5d6a4d1811717cc4583952 .
To avoid problems like this, I also changed the notation in https://github.com/robotology/mex-wholebodymodel/commit/7a0c36257ec457f998f8bca2c3eddab989b03bb1 .

Again, this bug was fix

[2015-10-23 14:34] DanielePucci commented on #30
:+1: :+1:

[2015-10-23 14:35] traversaro commented on #30
To be sure everything was working I run the simulation for ~150 seconds, and I got this results (`icubGazeboSim` is the usual model with 25 dofs, while `icub.urdf` is a locally loaded model with 32dofs):
![twolinks](https://cloud.githubusercontent.com/assets/1857049/10695414/e3ca1f7e-79a3-11e5-898a-81901fbdf4b7.jpg)

![icub32dofs](https://cloud.githubusercontent.com/assets/1857049/10695392/ce67f17

[2015-10-23 14:37] traversaro commented on #30
Ah, there was also a quaternion to rotation conversion performed with the `minus` formula, so I guess that also that was contributing to the issue.

[2015-10-23 14:38] DanielePucci commented on #30
Great. Closing?

[2015-10-23 14:38] traversaro commented on #30
When the necessary changes will be merged in master.

[2015-10-23 14:38] DanielePucci commented on #30
Ack.

[2015-10-23 15:53] naveenoid commented on #30
Sorry back on track after a day with no internet. This is a result of a
mixup of older versions of the forwardDynamics. I think always this bug is
traced down to quaternion ordering and frame in which angular velocity is
being expressed for quaternion derivative. Good job anyhow.

On Fri, Oct 23, 2015 at 4:38 PM, Daniele <notifications@github.com> wrote:

[2015-10-23 16:01] naveenoid commented on #42
I have no idea why the incorrect version crept in. I remember fixing this a while ago also with @gabrielenava.  I guess with automated tests this will stop being a problem.

[2015-10-23 22:57] traversaro commented on #42
Given that it was the source of the error in https://github.com/robotology/mex-wholebodymodel/issues/30 and an important piece of computation in general, I will now investigate how to consolidated all the different functions implementing the "Constrained Dynamics with Torque as a input".

[2015-10-23 23:01] traversaro commented on #9
The bug mentioned in the last issue was solved in https://github.com/robotology/mex-wholebodymodel/commit/9255ca6bc0326ee3fc0cb61e86e46b4487eba6b4 .
For loading/unloading different models, we have now a working test validating that this is working (see https://github.com/robotology/mex-wholebodymodel/blob/master/tests/initialiseTest.m ), so I guess we can close the issue.

[2015-10-23 23:01] #9 closed

[2015-10-25 05:50] naveenoid commented on #43
I will most likely remove this once PR https://github.com/robotology/mex-wholebodymodel/pull/49 is merged

[2015-10-25 05:57] naveenoid commented on #45
Isnt this addressed in https://github.com/robotology/mex-wholebodymodel/pull/49?

[2015-10-25 05:58] naveenoid commented on #46
good catch! Not sure when it crept in. :+1:

[2015-10-25 05:59] naveenoid commented on #36
status of this issue? I need to know where to focus to avoid clashes on solving

[2015-10-25 06:04] naveenoid opened #51 "Set initial floating base state"
As discussed with @traversaro having a function like wbm_setInitialFloatingBaseState accepting qj and a reference link might eliminate https://github.com/robotology/mex-wholebodymodel/issues/43 and solve issues brought on by https://github.com/robotology/mex-wholebodymodel/issues/47

I will go for a full matlab implementation once other things in the PR are fixed.

[2015-10-25 08:11] traversaro commented on #36
Still not investigated.

[2015-10-25 08:13] traversaro commented on #45
Not all of them, there are still three forwardDynamics, two integrateForwardDynamics, etc etc.

[2015-10-26 17:18] #46 closed

[2015-10-27 13:29] traversaro commented on #41
For the same reason we don't need to have `.fig` files in the repo. @gabrielenava

[2015-10-28 08:07] gabrielenava commented on #41
ok, capito

[2015-10-28 08:21] traversaro commented on #41
:+1:

[2015-10-28 11:19] naveenoid commented on #51
https://github.com/robotology/mex-wholebodymodel/pull/52

[2015-10-28 11:20] naveenoid commented on #47
Tackled in https://github.com/robotology/mex-wholebodymodel/pull/52

[2015-10-28 11:20] naveenoid commented on #43
Tackled in ttps://github.com/robotology/mex-wholebodymodel/pull/52

[2015-11-03 13:45] DanielePucci commented on #20
It's been six months that this issue has been open. Any updates?

[2015-11-03 15:30] traversaro commented on #51
Fixed in https://github.com/robotology/mex-wholebodymodel/pull/52 .

[2015-11-03 15:30] #51 closed

[2015-11-03 15:30] #47 closed

[2015-11-03 15:30] #43 closed

[2015-11-04 07:41] #20 closed

[2015-11-04 07:43] francesco-romano commented on #40
A first attempt has been done in https://github.com/robotology/mex-wholebodymodel/pull/53

The only thing left is to properly change name to the directories (if it make sense).
Otherwise @traversaro if you think it is enough for now we can close this issue.

[2015-11-04 07:58] traversaro commented on #40
Ok for me, cleaning the `matlab-src` directory is an important but separate job.

[2015-11-04 07:58] #40 closed

[2015-11-04 08:44] DanielePucci commented on #20
:+1:

[2015-11-04 11:33] Ganimed commented on #40
**@traversaro:** Yes I will do that, when the class is finished. The last two weeks before I was in Austria and in this meantime the amount of discussions was exploding here. So I lost the oversight what is going on. But I will get a briefing from **naveenoid** when he has time. I will move the WBM-Class to the _mex-wholebodymodel_ directory when it is finished. Else it does not make sense. Since

[2015-11-06 16:30] Ganimed opened #56 "Deprecated files still in the release directory "mex-wholebodymodel""
Hi guys,

I've seen in the master branch that there are still some files which I know that they are deprecated or experimental. So they should be deleted or moved to another place.

* Under _matlab/utilities_:
 * stldemo.m
 * stlread.m
 * quat2rot.m

 Maybe they should be moved into a folder outside of the release directory "mex-wholebodymodel". For example in "matlab-src/experimental".

* And und

[2015-11-07 17:30] naveenoid commented on #56
:+1:  Addressing in the next commit.

[2015-11-09 09:39] traversaro opened #58 "All functions handling rotations in input (except setWorldFrame) are broken"
See https://github.com/robotology/mex-wholebodymodel/pull/57/files#r44255064 .

TL;DR : the rotation matrix in input is not properly converted from column major storage order (Matlab) to row major storage order (WBI).

Fix:
* [x] propagate the fix in https://github.com/robotology/mex-wholebodymodel/blob/efc77a2feb1b8ec13f9693770cf3c1ce07cc2f1a/mex-wholebodymodel/library/src/modelsetworldframe.cpp#

[2015-11-09 09:41] naveenoid commented on #58
I will work on it. After this afternoon.

[2015-11-09 09:54] DanielePucci commented on #58
Hi guys, this is of fundamental importance. We are currently mounting the inverse kinematics in Simulink, and we need dynamic quantities evaluated at the desired configurations. On one hand, some simulink blocks (e.g. jacobians) cannot be evaluated in other points than the state, since they do not take it as input @jeljaik.  On the other hand, this bug forbids tests of an mex-wholebody model imple

[2015-11-09 10:09] naveenoid commented on #58
Just to understand better : The fix using reshape( ) in the relevant wbm_ wrappers is insufficient? Or is it incorrect?

[2015-11-09 10:20] traversaro commented on #58
As far I can see, reshape is simply mapping the n x n matrix to a n^2 double vector using a column-major ordering (so you get a vector similar to how the matrix is actually displayed in memory:
[code]

However, the data in the `wbi::Rotation`is stored using the classical C-Style row major ordering, i.e. in memory the data is stored as :
[code]

See https://en.wikipedia.org/wiki/Row-major_order .

[2015-11-09 10:52] naveenoid commented on #58
Please check da6ceda10140ef6cec9f69133e32d514eb75e3ff

All tests are passing.

[2015-11-09 11:56] traversaro commented on #58
@naveenoid I guess https://github.com/robotology/mex-wholebodymodel/commit/da6ceda10140ef6cec9f69133e32d514eb75e3ff solve the first point of the issue, but not the second ( Change all the code that is assuming the wrong behavior). @gabrielenava

[2015-11-09 12:00] naveenoid commented on #58
yes thats right. I can check the @gabrielenava  code if one of you gives me a quick overview. I can help maintain it from now on.

[2015-11-09 13:25] gabrielenava commented on #58
I fixed the original and the joint space balancing controller. I don't think there are others functions that assume the wrong behaviour. I also tested the balancing and seems everything is working.

[2015-11-09 14:15] traversaro opened #59 "Document from where the formula in quaternionDerivative comes from"
@DanielePucci I searched it (quickly) in
https://www-sop.inria.fr/act_recherche/formulaire/uploads/phd-425.pdf but I could not find it.

[2015-11-09 14:17] DanielePucci commented on #59
Page 101.

[2015-11-09 14:27] traversaro commented on #59
Fixed in https://github.com/robotology/mex-wholebodymodel/blob/master/mex-wholebodymodel/matlab/utilities/quaternionDerivative.m .

[2015-11-09 14:27] #59 closed

[2015-11-10 11:08] #56 closed

[2015-11-10 11:09] naveenoid commented on #58
I am closing this for now since its completely addresses.

[2015-11-10 11:09] #58 closed

[2015-11-10 13:11] iron76 opened #60 "timeTest.m is no longer working"
I was trying to use the timeTest.m but it seems that it has been no longer updated. The error I am getting is:

[code]

I think it would be useful include it among tests since it always good to have an idea of the time required to make basic computations. As for now, I would not require stringent limit on computations.

[2015-11-10 15:34] naveenoid commented on #60
Fix presented here :
https://github.com/robotology/mex-wholebodymodel/commit/1a58d5e77920dfbfa3a4f66f782536d277082dcf

It assumes that launching happens from timeTest folder. The optimised mode no longer presents any significant time advantage since the computation of worldFrame is no longer performed with inverseKinematics implicitly in normal mode.

[2015-11-10 15:34] #60 closed

[2015-11-10 17:58] naveenoid commented on #30
I think this can  be safely closed now, no?

[2015-11-10 18:45] traversaro commented on #30
Yes.

[2015-11-10 18:45] #30 closed

[2015-12-18 13:01] Ganimed opened #61 "WBM-Class is ready for merging into the master"
Hi all,

I want to announce that the new WBM-Class branch is ready for merging into the master. This new wrapper-structure can be considered as the next generation for the mex-WBM.

**What is new there:**
- OO approach.
- Namespaces instead of paths. This prevents also errors when other methods have by accident the same name.
- Rewritten and optimized the utilities methods
- The initialization of

[2015-12-18 13:27] Ganimed commented on #61
Before I forget, I have two files adapted to the new structure. One as an example and the other for time-benchmarking. They are stored under _+WBM/test_ and _+WBM/examples_. The speed of the classes depends on the CPU of the Computer and from the used Matlab-Version. I optimized what I could. But since Matlab is a script-language, I want to note that the parser needs always a bit more time for int

[2015-12-21 08:59] naveenoid commented on #61
I think this whole issue needs to  be tracked from here : https://github.com/robotology/mex-wholebodymodel/pull/62

[2015-12-21 13:18] Ganimed commented on #61
+1

[2016-01-11 08:55] traversaro opened #63 "Provide a example on how to load a simple URDF model"
For @Eric092 consistency checks.

[2016-01-12 13:44] traversaro commented on #63
Done in https://github.com/robotology/mex-wholebodymodel/commit/61d5a127a33b3b7d57479d7fc6ce562d0e82156f .

[2016-01-12 13:44] #63 closed

[2016-03-09 10:46] gabrielenava opened #64 "Warning: quaternions numerical integration errors"
In the Matlab torque controllers, quaternions are integrated using the Matlab function ode15s. We observed that there's a numerical integration error in the quaternions calculation, whose magnitude is constant in time and depends on the integration tolerances. This error propagates to the rotation matrix, which is used to calculate jacobians, centroidal momentum, mass matrix and forward kinematics

[2016-03-09 10:58] traversaro commented on #64
After integration, quaternions are never projected back to the unit hyper-sphere (i.e. normalized)?

[2016-03-09 11:01] traversaro commented on #64
What are the long-term effects of this integration errors?

[2016-03-09 11:15] naveenoid commented on #64
One option could be to try to normalise quaternions both before and after
computation of the quaternion derivative within your dynamics function.
This might help with the deviation induced during one integrator loop.

On Wed, Mar 9, 2016 at 12:01 PM, Silvio Traversaro <notifications@github.com

[2016-03-09 11:19] gabrielenava commented on #64
They are not normalized. It seems that there are no significant effects on system's dynamics, I think because the magnitude of this error is not increasing in time.

[2016-03-09 11:22] gabrielenava commented on #64
Actually, the time derivative of quaternions has a correction term, I think to ensure its validity. Maybe this is the reason why the integration error is not increasing

[2016-03-09 11:32] traversaro commented on #64
The magnitude of which error is not increasing? The magnitude of the *quaternion error* (i.e. distance from the unit hyper-sphere) or the integration error?
I assume that you are referring to the *quaternion error*.
I strongly suggest to normalize the quaternion coming out from the integration, even if the correction term is ensuring that the *quaternion error* is remaining constant. All the quate

[2016-03-10 08:54] gabrielenava commented on #64
I normalize the quaternion after the integration and this fixed the bug. Also,  I managed to fix another old bug #39. I'll push the corrections in my branch for now, I'll fix other bugs then I'll be ready for pull request.

[2016-03-10 11:12] gabrielenava commented on #36
I tried to reproduce this issue with both the stack of task and the joint space controller, in my branch.
Since this problem is not reproducible, I suppose that it has been fixed indirectly while fixing other issues.

[2016-03-10 11:18] gabrielenava commented on #39
fixed on branch feature/torques_linear, at #51e80d41e407938a6edc2ab86ded8cf57c57ddb2

[2016-03-10 11:21] #39 closed

[2016-03-10 11:25] gabrielenava commented on #41
all the .mat and .fig files have been eliminated and are not necessary anymore, so I think we can close this issue

[2016-03-10 11:25] #41 closed

[2016-03-10 11:26] #38 closed

[2016-03-10 11:30] gabrielenava commented on #45
fixed in branch feature/torques_linear

[2016-03-10 11:30] #45 closed

[2016-03-10 11:30] #64 closed

[2016-03-10 17:36] #4 closed

[2016-03-24 12:31] traversaro commented on #42
@gabrielenava  Can you fix the last point in https://github.com/robotology/mex-wholebodymodel/issues/42#issue-112623327 ?

[2016-03-29 13:16] #42 closed

[2016-04-27 23:06] VModugno opened #66 "error while use wbm_jacobian"
Hi guys,

i had some troubles using wbm_jacobian. When i try to compute the jacobian of a frame specified in the urdf of icubGazeboSim but different from 'com' , 'l_sole' , 'r_sole' i receive an error massage saying that the frame is not listed. how can i fix this?
thank you for your help

@serena-ivaldi  @UChervet

[2016-04-28 21:41] traversaro commented on #66
Hi, can you provide the line of code that are generating the error, the exact error that you get and your environment (OS, Matlab version)? Thanks!

[2016-05-02 13:47] francesco-romano opened #67 "Cmake: check dependencies"
There are a lot of dependencies required by this project.
I think that a lot of these are not required (neither now, nor when the project was first created).

The CMakeLists.txt should then be cleaned.

[2016-05-24 17:11] traversaro opened #68 "windows compilation failed"
[code]

[2016-05-24 20:50] traversaro commented on #68
cc @S-Dafarra

[2016-05-25 15:29] gabrielenava opened #70 "Matlab crash when running the ctest"
I tried to run the ctest on the **fixWin** branch. The ctest fails with the following error:

[code]

UPDATE:
apparently, the  error is also in the **master** branch

[2016-05-26 17:49] Ganimed commented on #70
Maybe the mex-file is causing somewhere a null-pointer exception. Re-check the source code, i.e. all pointers and their allocations and deallocations. In Linux there exist a great tool for that, called "Valgrind".

[2016-05-26 17:50] Ganimed commented on #70
Is the error only in Linux/Mac OS X?

[2016-05-27 09:30] #68 closed

[2016-07-11 14:53] gabrielenava commented on #67
I deleted one not required dependency (paramHelp) that caused a cmake error while compiling codyco-superbuild.

[2016-08-19 13:58] Yeshasvitvs opened #72 "Semi Positive Definite Mass Matrix from URDF using mexWholeBodyModel"
Ciao,

I am trying to use mexWholeBodyModel with an URDF file for a 1R mechanism. Please check the code for it below. I also attached the Matlab Script used to load the urdf model using initializeFromURDF and get the parameters. But the Mass Matrix is not being positive definite. Please update on this

Thank you

[code]

[code]

[2016-08-19 15:20] traversaro commented on #72
Just to clarify: the urdf code is missing the initial `<robot>` tag, right?

[2016-08-19 15:44] Yeshasvitvs commented on #72
Yes, sorry about that
The original URDF has it but I missed while pasting in this issue, now I edited it with the <robot> tag
Thank you

[2016-08-31 08:47] traversaro opened #74 "Unused wbm_setWorldLink.m function"
I think `wbm_setWorldLink` is unused since https://github.com/robotology/mex-wholebodymodel/blob/aa6199ff48b524d3ce7b827b6cabe144c23688ab/mex-wholebodymodel/matlab/wrappers/wbm_setWorldLink.m .
Do you think we can remove it @Ganimed @gabrielenava ?

[2016-08-31 10:17] traversaro opened #75 "Provide a shim of mex-wholebodymodel against iDynTree classes"
To simplify the binary distribution of the library, it would be useful to provide a [shim](https://en.wikipedia.org/wiki/Shim_%28computing%29) of `mex-wholebodymodel` functions against the `iDynTree::KinematicsDynamicsComputations` class bindings.
That class should provide all the functionality provided by `mex-wholebodymodel`.
The only exception is probably the `wbm_modelInitialise` function, tha

[2016-09-01 14:35] Ganimed commented on #74
I don't use the function *wbm_setWorkdLink()* in my project. I've avoided this function from begin on, since it was confusing me. If nobody else is using it, you can remove this function.

[2016-09-01 18:36] gabrielenava commented on #74
It is also not used in the controllers, so I think we can remove it

[2016-09-01 22:56] traversaro commented on #74
Fixed in https://github.com/robotology/mex-wholebodymodel/commit/7a0b3f130e73aff3b1e659a8059416d6c690dd4e .

[2016-09-01 22:56] #74 closed

[2017-01-16 09:03] DanielePucci opened #76 "torqueBalancing not working"
When launching `mex-wholebodymodel` based `torqueBalancing`, I get the following error:

[code]

@gabrielenava @S-Dafarra @francesco-romano @traversaro

[2017-01-16 09:25] gabrielenava commented on #76
This is probably due to a missing update of master branch after a change in its dependencies. I will update it today

[2017-01-16 10:39] gabrielenava commented on #76
I think I found the cause of this issue. As we can see in the error log, the number of joints that are loaded by the model is zero (this then caused the malformed state/dimensions error):

`mexWholeBodyModel started with robot : icubGazeboSim, Num of Joints : 0`

I checked the function [modelstate.cpp](https://github.com/robotology/mex-wholebodymodel/blob/master/mex-wholebodymodel/library/src/mode

[2017-01-16 10:45] DanielePucci commented on #76
👍

[2017-01-16 10:45] traversaro commented on #76
I can confirm that is the problem. @gabrielenava please remove the `dof` variable completely from `yarpWholeBodyModelV2`, as it is not necessary at all.

[2017-01-16 11:13] gabrielenava commented on #76
fixed in this pull request: https://github.com/robotology/yarp-wholebodyinterface/pull/66
tested locally, the controller in now working properly.

[2017-01-16 11:13] #76 closed

[2017-01-16 12:08] DanielePucci commented on #76
Nice guys 👍

[2017-01-17 12:20] Ganimed opened #77 "Bug: DBL_MAX in yarpWholeBodyModelV2::getJointLimitFromModel"
Hi guys,

yesterday I updated completely all libraries to the latest versions. After working around with my code, I have recognized that the Matlab function _wbm_jointLimits_ is returning vectors with values of +- 1.79769e+308.
These are extremely high values and does not make any sense!
Afterwards I tried to make a CTest. But the CTest fails, since in _baseLinkFrameTest.m_ the initialization of _

[2017-01-17 12:46] traversaro commented on #77
@Ganimed thanks for catching this issue.

@S-Dafarra Can you look into this when you have time? I suspect the new limits parser in iDynTree is not working, and given that you need to use it you would need to investigate it.
The relevant code was added in https://github.com/robotology/idyntree/commit/bb0b92ed09cbc62f312d2268012d86d8875bae16 .

[2017-01-17 12:57] traversaro commented on #77
@Ganimed as a workaround, you can revert this PR https://github.com/robotology/yarp-wholebodyinterface/pull/63/files and everything should work fin again, until we fix the issue.

[2017-01-17 13:02] Ganimed commented on #77
Thanks. I will do this in the meantime.

[2017-01-18 16:06] traversaro commented on #77
@Ganimed this should be fixed by https://github.com/robotology/idyntree/issues/257 . Let us know if the problem persists.

[2017-01-18 16:06] #77 closed

[2017-01-18 16:26] Ganimed commented on #77
That was quick! Thanks. I will update and check it tomorrow.

[2017-01-24 12:27] gabrielenava commented on #70
@Ganimed I run the ctest in your WBM branch, and I still had the segmentation violation problem:

[code]

actually, unlike the previous time, the test started without problems:

[code]

but then I got the error. Do the tests run on your pc?

[2017-01-24 12:38] gabrielenava commented on #37
Maybe I am wrong, but I remember these warnings have been fixed in the new visualizer. I am not sure since I cannot test it (my matlab version is 2016b). I will leave this open until a proper test

[2017-01-24 12:47] gabrielenava commented on #66
I tried to specify a frame different from the CoM and the feet, and wbm_jacobian worked fine:

[code]
for this reason, and because we don't have a well documented error, I think we can close the issue.

[2017-01-24 12:47] #66 closed

[2017-01-24 13:07] traversaro commented on #37
Any deprecation warning would be either a warning or an error in a newer version of Matlab, hence the issue was probably solved.

[2017-01-24 13:07] #37 closed

[2017-01-24 16:22] gabrielenava opened #79 "wbm_jacobian retrieves always the CoM jacobian when called with non-existent frames"
As in the title. Tested in `WBM-class` branch and `updateRepo` branch. This is the CoM jacobian (e.g., for Walkman):

[code]

and this is the POTATOES jacobian:

[code]

[2017-01-24 17:07] gabrielenava commented on #79
Fixed. I noticed that the forward kinematics instead was working fine:

[code]
so I copy-paste these code lines from `modelforwardkinematics.cpp` into `modeljacobian.cpp`:
[code]
and this solved the issue:

[code]
I will commit the changes in `updateRepo` branch and then close this issue.

[2017-01-24 17:10] Ganimed commented on #70
@gabrielenava: Yes, there is still a problem with the segmentation fault. I compiled the code also in DEBUG mode, to see all the outputs and steps.
The problem is still in the destructor of the ModelState class.
The strange thing is, if you call the mex-subroutine in a normal procedure like "timeTest.m" and afterwards unload it from Matlab's memory manager with the "clear all" command, then the de

[2017-01-24 17:12] Ganimed commented on #70
P.S: My system shows mostly that the CTest has passed successfully but immediately afterwards when the subroutine will be unloaded from the system it causes a segmentation problem. More details I will explain in the report.

[2017-01-24 17:31] Ganimed commented on #79
Thanks to this issue! I will add these line of code to the remaining methods which using _refLnk_.

[2017-01-24 19:17] Ganimed commented on #79
Bugfixed additionally the trasformationMatrix and the dJdq function.

[2017-01-24 19:19] Ganimed commented on #79
@gabrielenava: Can you merge my newest changes into your repository? Thx.

[2017-01-25 09:05] gabrielenava commented on #79
Done at https://github.com/robotology/mex-wholebodymodel/commit/bc92ab2157d7f42fd7672f68ceac180f7e8de5dd

[2017-01-25 09:09] traversaro commented on #79
@gabrielenava Please do not close a bug until it is fixed in master (i.e. for all users), thanks.

[2017-01-25 09:13] gabrielenava commented on #79
got it, I will close it after merging the repo then

[2017-01-25 10:10] Ganimed commented on #79
:+1:

[2017-01-26 08:46] gabrielenava commented on #70
ctest is finally worrking! great job @Ganimed, I will close this issue as soon as we merge into master

[2017-01-26 08:49] Ganimed commented on #70
:+1:

[2017-01-26 08:50] Ganimed commented on #70
Grazie! :smile:

[2017-01-26 08:51] gabrielenava commented on #67
I tried to rewrite the CMakeLists.txt eliminating the unnecessary code, but I have no idea if dependencies are really necessary or not. this is the updateted [CMakeLists.txt](https://github.com/robotology/mex-wholebodymodel/blob/master/CMakeLists.txt)

[2017-01-30 16:08] #79 closed

[2017-01-30 16:09] #70 closed

[2017-01-30 16:25] #61 closed

[2017-01-30 16:35] gabrielenava commented on #67
With the help of @Ganimed, I removed all unnecessary dependencies from CMakeLists so we can close this issue (see 45f8118c58497cb2b28b76f111e37b20b081823b and c882bf4ad74778abcfd44ac1d271864977366b68)

[2017-01-30 16:35] #67 closed

[2017-02-27 10:17] francesco-romano opened #84 "Create CI files"
This is starting to become important

[2017-02-27 10:25] traversaro commented on #84
Remaining on freely available CI systems, compilation can be tested with the MCR [1] or with the Octave mex interface [2].
For running the tests, I think the only viable option is Octave, but probably we need to change some of the code (for example some integrators that we use are not available on Octave, and at least on octave we should use on of the available integrators).

[1] : https://github.

[2017-03-03 12:56] Ganimed opened #85 "latest mex-subroutine causes numerical problems"
Hi guys,

today I have found by accident a numerical problem that is causing the latest C++ code of the _mexWholeBodyModel_.

The numerical issue is rising up when the current mex-subroutine is used in combination with a _forward dynamics_ function that is calling the ```ode15s``` function of Matlab.

The issue can be reproduced by calling the _integrateForwardDynamics.m_ (matlab/wrappers/+WBM/exa

[2017-03-06 13:35] gabrielenava commented on #85
HI @Ganimed, when you fixed this bug in your branch I will test it on `WBM_Controller` branch to see if everything is ok

[2017-03-06 20:27] Ganimed commented on #85
On the weekend I have found and fixed the bug in _modeljacobian.cpp_. The corrected version is already uploaded on GitHub. Now the Jacobian works again correctly! You can merge the correction into the WBM-Controller branch.

But the numerical problem is still not 100-percently solved! If the _integrateForwardDynamics.m_ procedure is executed, the flood of numerical warnings is gone now. The situat

[2017-03-20 10:36] DanielePucci opened #86 "Clarification on the function `dquat2tform.m`"
Hi @Ganimed @gabrielenava,
it seems to me that the function

https://github.com/robotology/mex-wholebodymodel/blob/master/mex-wholebodymodel/matlab/utilities/%2BWBM/%2Butilities/dquat2tform.m

computes a sort of homogeneous transformation where the associated rotation matrix is computed not from a quaternion, but from a quaternion derivative:

https://github.com/robotology/mex-wholebodymodel/blob/

[2017-03-20 13:51] Ganimed commented on #86
Hi Daniele,

thanks for the advice!
The function ```dquat2tform``` is a function which does not make any sense and is wrong. This function is a relict from the very beginning and I have overseen it. You can ignore it. In the next update it will be removed from the repository.

Only the opposite direction would make a sense (orientation to quaternion rate), like ```rotm2dquat``` or ```tform2dquat``

[2017-03-20 15:47] DanielePucci commented on #86
Hi @Ganimed,
thanks for the clarification. For the time being, I would avoid to put some effort in defining functions for orientation prediction.

[2017-04-06 14:20] VModugno opened #87 "wbm_getState return nan in the vector-quaternion transformation"
Hi guys,

right now I'm extensively using the mex_wholebody toolbox to perform a trajectory optimization task. In order to find a suitable solution i need to repeat the simulation of the experiment several times and early stops in the simulation can occur due to numerical instability. My code starts by calling wbm_modelInitialize('icubGazeboSim') and then i perform all the subsequent operations on

[2017-04-06 14:24] traversaro commented on #87
Can you attach to this issue the code to reproduce the code? Thanks!

[2017-04-06 14:25] traversaro commented on #87
Can you attach to this issue the code to reproduce the code? Thanks!

[2017-04-06 15:25] VModugno commented on #87
I modified one of your controller example inside the mex-wholebodymodel/Controllers folder in codyco-superbuild/main. first of all copy the TorqueBalancingError folder inside the controller folder. To generate the error just launch initializeTorqueBalancing.m once. it will end with an error. Than launch it again and check through a break point in wbm_getWorldFrameFromFixLnk.m on line 37 the value

[2017-04-06 17:19] traversaro commented on #87
Hi @VModugno, as you may imagine dealing with such a tarball is quite difficult.

If you could commit your code to a git repository, even just a branch on your personal fork of this repo, it would much easier to understand the changes that you applied on the code, thanks a lot!

Anyhow, @gabrielenava probably has some insight on what could be the cause of the problem.

[2017-04-06 18:10] Ganimed commented on #87
Hi @VModugno,

I will check the error on the weekend. At the moment I have not much time for coding, because  the begin of the next week the house of my grandmother will be teared down with a caterpillar. So the last three weeks were tough to prepare the house.

To overcome the situation in the meantime, try to call ```clear mexWholeBodyModel``` or ```clear all``` in between, before you repeat the

[2017-04-06 18:50] Ganimed commented on #87
@VModugno: I have copied your folder _torqueBalancingError_ into the path _codyco-superbuild/main/controllers_. Then I called with Matlab R2016b the method ```initializeTorqueBalancing```. But in Matlab R2016b I get a complete different error as you have described it (see below). At the moment I'm not able to reproduce your error. But I have also to mention, that at the moment I'm using in the C++

[2017-04-06 18:51] gabrielenava commented on #87
Don't worry @ganimed, take all the time you need!

My suggestion was exactly the same thing @ganimed suggested. The function 'wbm_getState' should be a "reader" of the robot state previously stored using other functions (such as 'wbm_updateState'). So, first thing is to verify that you are always correctly updating the robot state before calling 'wbm_getState', otherwise it may returns you NaN.
I

[2017-04-06 18:55] gabrielenava commented on #87
@Ganimed this error seems related to the integrator. Can you please check if the option 'CONFIG.integrateWithFixedStep' in [initializeTorqueBalancing.m](https://github.com/robotology/mex-wholebodymodel/blob/master/controllers/torqueBalancing/initializeTorqueBalancing.m) is setted to 1?

[2017-04-06 19:23] gabrielenava commented on #87
I got the answer myself, and the answer is: yes!
In fact in the error you posted below I see the function `euleroForward` is called instead of `ode15s`:

[code]
So, the error @Ganimed had is definitely related to this.
Please consider that,  as it is pointed out in [initializeTorqueBalancing.m](https://github.com/robotology/mex-wholebodymodel/blob/master/controllers/torqueBalancing/initializeTorqu

[2017-04-06 22:12] VModugno commented on #87
i will fork the mex-wholebody repo and i will add to the fork the code in the tarball. Currently im using one of the latest version of the code (i pulled the code the 20 of march). To generate the error i used one of the controller in mex-wholebody to be sure that all the operation were done in the right order. The only things that i have changed is related to the trajectory generation. Sorry @tra

[2017-04-06 22:31] traversaro commented on #87
No problem!

[2017-04-07 07:43] Ganimed commented on #87
@VModugno you can also try the latest version of the _WBM-Class_ branch from the mexWholeBodyModel-repository. For a month ago I made in this branch some small corrections in the C++ code of the mex-subroutine. These corrections are not merged yet into the master. Try also to swap back to the old _"yarpWholeBodyModelV1.h"_ as I have described it above and recompile everything. Maybe this will chan

[2017-04-07 10:16] VModugno commented on #87
I guys, i create an ad-hoc repo where you can find a working example to reproduce the issue. Just run initializeTorqueBalancingErr.m once. It will fail. Then in the second run check what happen in wbm_getWorldFrameFromFixLnk.m.
Here is the repo  [https://github.com/VModugno/test_code](url)

[2017-04-07 11:14] gabrielenava commented on #87
I tried your code, and I discover I have a license problem:

[code]
In the lab our Matlab license doesn't have the "symbolic toolbox"...I'm going to test the code in my personal computer at home then.

[2017-04-07 12:06] VModugno commented on #87
i updated the repo,  i removed the symbolic toolbox dependecy now it should be fine

[2017-04-08 08:50] Ganimed commented on #87
I can't download anything. Is the given link broken?

[2017-04-08 11:03] VModugno commented on #87
That s the working link
https://github.com/VModugno/test_code

[2017-04-09 10:06] Ganimed commented on #87
Hi @VModugno,

I have downloaded and tested your repo. At the moment I can't reproduce your error. Nothing has been changed, I get the same error with the _euleroForward_ function than before (see below).
In the evening I will try to make further tests. Then we will see.

Did you updated everything to the latest version (YCM, codyco-superbuild, mex-WBM, etc.)? Try this and recompile everything new

[2017-04-10 09:11] VModugno commented on #87
as i wrote before you should run the code a second time and check the value that come out from wbm_getWorldFrameFromFixLnk

[2017-04-10 21:01] Ganimed commented on #87
Hi @VModugno,

sorry for the late response, but during the day I'm working on the building site.
Maybe I didn't expressed it clearly. I was running the code several times one after the other and every time it was ending up into the above error. I did not get any problems with ```wbm_getWorldFrameFromFixLnk```.

At the moment I'm using in the background of the C++ part the _yarpWholeBodyModelV1.h_

[2017-04-10 22:09] VModugno commented on #87
btw i have found the error. When the code is ready i will tell you

[2017-04-11 13:43] VModugno commented on #87
Now the code is working. i wrapped the new function in matlab and i have performed few tests. I believe that there are cleaner ways to fix it, so if you have some suggestions i will be glad to do the implementation

[2017-04-11 13:58] gabrielenava commented on #87
Ok, happy to see the problem is solved! I think @Ganimed worked a lot on the .cpp library so let's wait for his opinion before closing this issue.
Concerning the numerical integration, if it is not fundamental for your results I suggest you to switch back to ODE15s anyway. Otherwise we can discuss this topic in a new issue: sometimes the long time required by ODE  for integration is an issue also

[2017-04-11 18:14] Ganimed commented on #87
Hi all,

I'm now back from the building site. At the moment I'm every day from 7 a.m. until 6-7 p.m. on the building site, so I can read only the answers very delayed. But next week the house will be completely removed and I'm free.

@VModugno I was checking your hint in my current code. You are right. For the reinitialization I have forgotten to reset in the class _ModelState_ the variable _wf_H_

[2017-04-11 20:04] Ganimed commented on #87
Bugfixed the issue. I will upload soon the correction with some other Matlab-code.

[2017-04-12 13:28] VModugno commented on #87
@Ganimed If you tell me how you want to fix this i can help to update the code. As i told you before for now i have just created a new function in matlab that basically reset the value wf_H_b to the indentity. So if you call this new function at the beggining of the code the problem is solved. If you have a better approach let me know.
@gabrielenava you are right the simulation can be cumbersome b

[2017-04-14 05:35] Ganimed commented on #87
@VModugno at the moment I'm working every day the whole day at the building site. We had teared down the house of my grandmother. This was for our family very emotional. Currently I can only read the messages very delayed.

I have solved the problem directly in the C++ code of the mex-subroutine. The correction was only two lines. When I have uploaded the corrected version (hope this weekend), you

[2017-04-19 16:05] gabrielenava commented on #87
HI @Ganimed, any news on this fix?

[2017-04-20 06:57] Ganimed commented on #87
I will upload the fix today. The last 4 days I was coding on other parts. The work on the building site had cost a lot of time.

[2017-04-21 16:30] Ganimed commented on #87
**Update:** The current part of the Matlab-code where I'm working on is still not finished. As soon as this part is working well, I will upload the complete bunch of changes including the bugfix.

[2017-04-21 20:08] Ganimed commented on #87
**Update:** I have now uploaded the bugfix with some new Matlab-functions to the branch WBM-Class.

@VModugno: Try to use the bugfixed version without your ```wbm_resetWorldFrame``` method. If it works without errors, then we can close this issue.

[2017-04-26 09:07] VModugno commented on #87
Im sorry for the late answer, i will try it asap

[2017-05-05 17:31] traversaro opened #88 "ChangeLog is broken"
As already noted in https://github.com/robotology/mex-wholebodymodel/commit/13d8390d91fc5540bbd2703ae7d878cae66a37c9#commitcomment-20813414 , the changelog of each release should link at the differences between the tag of the released versions and the previous release, while in https://github.com/robotology/mex-wholebodymodel/commit/13d8390d91fc5540bbd2703ae7d878cae66a37c9#commitcomment-20813414 t

[2017-05-08 15:10] gabrielenava commented on #88
addressed in https://github.com/robotology/mex-wholebodymodel/commit/dcf188fc83c1c6f2a8ad7f4d9280640d9b0eee75

[2017-05-14 20:30] #88 closed

[2017-08-28 10:28] gabrielenava commented on #86
Function removed with  https://github.com/robotology/mex-wholebodymodel/commit/8da30955676ddeb4037e997df296128bf7cd024e. Closing this issue

[2017-08-28 10:28] #86 closed

[2018-04-18 23:08] traversaro opened #90 "Deprecation of codyco-superbuild"
Hi @Ganimed,
  how are things going on?

As you may read in https://github.com/robotology/codyco-superbuild/issues/198, we are currently deprecating the codyco-superbuild in favor of the new robotology-superbuild, that is not including `mex-wholebodymodel`. In general, our future plan is to stop working on `mex-wholebodymodel`. What are instead your plans for `mex-wholebodymodel` ? If you still pl

[2018-04-19 09:03] gabrielenava opened #91 "Move this repo to Robotology Legacy?"
After properly document it, if everybody agrees.

[2018-04-19 09:05] traversaro commented on #91
Related to : https://github.com/robotology/mex-wholebodymodel/issues/90 .

[2018-04-19 09:09] Ganimed commented on #90
Hello Silvio,

I'm fine, thank's. At the moment I'm at home but working beside for the TU-Wien and I'm still working on the mex-wholebodymodel.

No, I didn't seen the announcement. That's bad. In the meantime I have extended the WBM-Class much further for the University in Vienna. The whole-body model classes for Matlab have now much more functionalities. Currently I'm still writing on the documen

[2018-04-19 09:15] traversaro commented on #90
Hi @Ganimed , I think we can discuss more efficiently with a quick chat, I wrote you an email.

[2018-04-19 09:16] traversaro commented on #90
In the meanwhile: do not worry, nothing will change before we sorted out everything. : )

[2018-04-19 10:00] Ganimed commented on #90
Hi @traversaro, thanks for you quick response! I did not received your email. Did you have the correct address (_martin.neururer(AT)student.tuwien.ac.at_  or  _martin.neururer(AT)gmail.com_)?

[2018-05-14 11:50] ronb127 opened #92 "bug in rotm2quat.m"
Line 35:
quat(1,1) = (rotm(3,2) + rotm(2,3))*s_inv;
Should be:
quat(1,1) = (rotm(3,2) - rotm(2,3))*s_inv;

[2018-05-14 12:13] traversaro commented on #92
Thanks for reaching out @ronb127 !
cc @Ganimed

[2018-05-15 15:30] Ganimed commented on #92
Thank you, I will check this!

[2018-05-15 16:42] Ganimed commented on #92
I have checked the formulas. Mainly I have used the formulas from the book of [Jaz10] and in equation (3.150) at page 110 there is the same sign-bug.

Here for example is the correct calculation of this part: http://www.euclideanspace.com/maths/geometry/rotations/conversions/matrixToQuaternion/.

Thank you for the hint I have corrected this in my branch.

[Jaz10]: Jazar, Reza N.: Theory of Applied

[2018-05-16 06:55] Ganimed commented on #87
The bug is already removed from the C++ code since last year - closing this issue.

[2018-05-16 06:55] #87 closed

[2018-05-18 09:08] #92 closed

[2019-04-15 12:45] gabrielenava commented on #91
@traversaro @Ganimed in the end, can we proceed in moving the repo to legacy? I remember we discussed about moving the WBM-class in another repo, am I right?

[2019-04-15 12:47] traversaro commented on #91
Ok for me.

[2019-04-15 18:46] Ganimed commented on #91
Sorry, the last time I was quite busy. Yes, let's moving my branch into a new repository. Then we can put the _mex-wholebodymodel_-repo to the legacy branch.
So, when do have time that we can merge everything together into a new repo? Thanks.

[2019-04-16 08:18] Ganimed commented on #91
Is it possible to make a new repository in _robotology_ called "wbm-library"? I don't know if I have the rights there to create a new repo. Thanks.

[2019-06-03 15:45] Ganimed commented on #90
Hi @traversaro and @gabrielenava, I have now duplicated the complete repository to the new repository `wbm-library` at my account. Now we can merge the _yarp-interfaces_ into this new repository.

[2020-09-29 10:28] traversaro commented on #91
Done.

[2020-09-29 10:28] #91 closed

[2020-09-29 10:30] traversaro commented on #75
In the end, we never implemented such as shim.

[2020-09-29 10:30] #75 closed

[2020-09-29 10:31] traversaro commented on #16
We never investigated more in depth this issue.

[2020-09-29 10:31] #16 closed

[2020-09-29 10:31] traversaro commented on #72
Hi @Yeshasvitvs, if this is still a problem, feel free to open an issue directly in the iDynTree repo.

[2020-09-29 10:31] #72 closed

[2020-09-29 10:32] traversaro commented on #84
In the end we never added CI support for this repo, but interestingly now Travis has Matlab support: https://docs.travis-ci.com/user/languages/matlab/ .

[2020-09-29 10:32] #84 closed

[2020-09-29 10:33] traversaro commented on #85
Hi @Ganimed, if this is an issue for you feel free to open it at https://github.com/Ganimed/wbm-library, thanks!

[2020-09-29 10:33] #85 closed

[2020-09-29 10:34] traversaro commented on #90
Thanks @Ganimed ! Then we can close this issue.

[2020-09-29 10:34] #90 closed